* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// 修改组件样式
.t-card__actions {
    display: flex;
}

// 选区样式
.onselect {
    color: white;
    user-select: none;
    padding: 4px 10px;
    border-radius: 20px;
}